p{
  text-align: center;
}

.model{
  font-size: 90px; 
  font-family: 'Montserrat', sans-serif;
  margin-top: 30px;
  margin-bottom: 0;
}

.online{
  font-size: 60px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 10px;
  letter-spacing: 2px;
} 

.td{
  text-decoration: underline;
}
