p{
  text-align: center;
}

.model{
  font-size: 120px; 
  font-family: 'Montserrat', sans-serif;
  margin-top: 60px;
  margin-bottom: 0;
}

.online{
  font-size: 70px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 90px;
  letter-spacing: 2px;
} 

.td{
  text-decoration: underline;
}
